.border-container{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gray-border{
    border: solid 30px gray;
}

.red-border{
    border: solid 15px red;

}

.circle-container{
    height: 100vh;
    position: relative;
    
}

.circle{
   width: 285px;
   height: 285px;
   border-radius: 50%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}


.color-purple {
    background-color: purple;
}

.color-aqua {
    background-color: rgb(62, 78, 221);
}

.color-orange {
    background-color: rgb(237, 102, 53);
}

.text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 40%;
    font-weight: 900;
}