  body {
    margin: 0;
    overflow-x: hidden;
    padding-right: 20px;
    height: 100vh;
  }
  
  header {
    height: 65px;
    width: 100vw;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px solid;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 0;
  }
  
  header img {
    margin-left: 10%;
    height:8vh;
    width: 32vh;
  }
  
  header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
  }
  header nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    right:15px;
    color: black;
  }
  
  ul a {
    text-decoration: none;
  }
  
  ul a:hover {
    color: red;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    background-color: blueviolet;
    text-align: left;
  }
  .sidebar ul li {
    list-style: none;
  }
  
  .sidebar ul li a {
    list-style: non;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding-bottom: 20px;
  }
  
  main {
    display: flex;
  }
  
  .content {
    height: 100%;
    width: 80vw;
    background-color: white;
  }
  .box {
    margin: 10px 20px 10px 10px;
    display: flex;
    height: 40vh;
    width: 80vw;
    margin-top: 2px;
  }
  
  .content p {
    margin-left: 10px;
  }
  
  .box img {
    height: 100%;
    width: 34vw;
    border: 1px solid green;
    border-top: 2px solid brown;
    object-fit: cover;
    margin-top:0;
  }
  
  footer {
    height: 40px;
    width: 100vw;
    text-align: center;
    background-color: rgb(89, 89, 89);
  }
  
  footer > p {
    color: white;
    margin: 0;
    padding: 10px;
  }
  