.container > div{
    border: 1px solid black;
    height:33.1vh;
}

.container{
    display: grid;
    grid-template-columns: 25% 25% 25%; 

}
body{
    margin: 0;
    background-color: orangered;
    border: 1px solid black;

}

#box-red{
    background-color: red;
    grid-column: 1/3;
}

#box-green{
    background-color: green;
}

#box-purple{
    background-color: blueviolet;
}
#box-pink {
    background-color: deeppink;
}
#box-blue{
    background-color: blue;
}
#box-brown{
    background-color: brown;
}
#box-indigo{
    background-color: indigo;
    grid-column: 2/4;
}
/* #box-orange{
  grid-row-start: 1;
  grid-row-end: 4;
} */